<nav class="navbar navbar-expand-lg navbar-light bg-light col-md-3">
  <a href="index.html"><img src="images/logo-twitter.png" alt="" class="img-fluid mt-5 mb-5" width="52"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" href="index.html">Página Inicial
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="perfil.html">Perfil</a>
      </li>

    </ul>

  </div>
</nav>