{% include 'components/header.html' %}

<section class="container-fluid">
  <div class="row">

    {% include 'components/sidebar-left.html' %}


    <div class="col-md-6 centro">

      <h1 class="title mt-5 mb-5 p-3">Página Inicial</h1>

      <div class="row">

        <div class="col-md-12">

          <div class="formulario">
            <img src="/static/images/saulo.jpeg" alt="" class="img-fluid rounded-circle" width="62">
            <form method="post" action="/home">
              <input type="hidden" id="username" name="username"/>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3" placeholder="O que está acontecendo..."></textarea>
              </div>

              <button type="submit" class="btn btn-primary btn-tweet">Tweet</button>
            </form>
          </div>
        </div>

      </div>

      <div class="row">
        {% if result %}
        {% for i in result %}
        <div class="col-md-12 border-post">
          <div class="posts">
            <img src="/static/images/saulo.jpeg" alt="" class="img-fluid rounded-circle" width="62">
          </div>

          <div class="info">
            <p class="nome">@{{ i.username}}</p>
            <p class="data">{{ i.creation_date }}</p>
            <p class="texto">{{ i.content }}</p>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

    </div>
    <div class="col-md-3 right-sidebar"></div>
  </div>

</section>
<script>
    const user = localStorage.getItem('user')
    const inputHidden = document.querySelector('#username')
    inputHidden.value = user
</script>

{% include 'components/footer.html' %}