{% include 'components/header.html' %}

<section class="container-fluid">

  <div class="row">

    {% include 'components/sidebar-left.html' %}


    <div class="col-md-6 perfil centro">

      <div class="row">
        <div class="col-md-12">
          <div class="user mt-5 p-3">
            <h1 class="title-user">Guilherme Piovesan</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 p-0">
          <div class="box">
            <img src="../static/images/caio.jpeg" alt="" class="rounded-circle">

            <button>Seguir</button>
          </div>

          <div class="info perfil-info">
            <h1>Guilherme Piovesan</h1>
            <p style="color: #C4C4C4;">@guipiovesan</p>

            <p class="follow">
              <span>2</span>
              Seguindo</p>
            <p class="follow">
              <span>1</span>
              Seguidor</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12 border-post">
          <div class="posts">
            <img src="../static/images/caio.jpeg" alt="" class="img-fluid rounded-circle" width="62">
          </div>

          <div class="info">
            <p class="nome">Guilherme Piovesan</p>
            <p class="data">@guipiovesan | 17/05/21</p>
            <p class="texto">Ansiosíssimo #E32021</p>
          </div>
        </div>
        <div class="col-md-12 border-post">
          <div class="posts">
            <img src="../static/images/saulo.jpeg" alt="" class="img-fluid rounded-circle" width="62">
          </div>

          <div class="info">
            <p class="nome">Guilherme Piovesan</p>
            <p class="data">@guipiovesan | 17/05/21</p>
            <p class="texto">Ansiosíssimo #E32021</p>
          </div>
        </div>
        <div class="col-md-12 border-post">
          <div class="posts">
            <img src="../static/images/saulo.jpeg" alt="" class="img-fluid rounded-circle" width="62">
          </div>

          <div class="info">
            <p class="nome">Guilherme Piovesan</p>
            <p class="data">@guipiovesan | 17/05/21</p>
            <p class="texto">Ansiosíssimo #E32021</p>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-3 right-sidebar"></div>
  </div>

</section>

{% include 'components/footer.html' %}
